.root {
/* 	-fx-background-image: url(background.jpg); */
/*   	-fx-background-size: cover; */
/*   	-fx-background-repeat: no-repeat;  */
	primary: derive(#4CD7F6, -10%);
   accent: #045080;
   complementary: #7166F9;
   orange: #fe7a54;
    highlight: #ff0000;
   -fx-base: #9BD1F5;
   -fx-background: -fx-base;
   -fx-background2:derive( -fx-base, -10%);
   -fx-accent: accent;
	-fx-default-button: primary;
	-fx-cancel-button: accent;
	-fx-focus-color: orange;
	-fx-faint-focus-color: rgba(254,122,84,0.22);
}
.character-view-layout {
   -fx-background-image: url(Magieband.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

.app-layout {
  -fx-background-color: #E0E0E0;
   -fx-background-image: url(MSK.jpg);
  -fx-background-position: center center;
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.toggle-button {
	-fx-background-color: transparent;
	-fx-padding: 4px 4px 0 4px;
	-fx-border-width: 0px;
}
.toggle-button:selected {
	-fx-border-width: 0 0 2px 0;
}

.application-screen-navig {
	-fx-background-color: rgba(224,224,224,0.8);
}

.page-pile {
	-fx-background-color: linear-gradient(from 0px 0px to 100% 20em ,-fx-base, transparent);
}
.backdrop {
	-fx-background-color: transparent;
}
.backdrop-front {
	-fx-background-color: transparent;
}
.backdrop-front-uplift {
	-fx-background-color: -fx-base;
}
.backdrop-back {
    -fx-background-color: transparent;
}
.backdrop-back-content {
    -fx-background-color: transparent;
}
.backdrop-back-header {
    -fx-background-color: transparent;
}
.backdrop-front {
  	-fx-background-size: cover;
	-fx-background-radius: 16px 16px 0 0;
	-fx-border-radius: 16px 16px 0 0;
	-fx-padding: 0 1em 0 1em;
}

#header {
	-fx-graphic: url(mondtor.png);
	-fx-font-weight: bold;
    -fx-border-width: 0px 0px 0px 0.3em;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
    -fx-max-width: 12em;
    -fx-alignment: center-left;
}

.category-button {
	-fx-background-color: rgba(255,255,255, 0.4);
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: rgba(0,0,0, 0.1);
}

#categories {
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-alignment: top-center;
}

#categories .button {
	-fx-min-width: 15em;
	-fx-pref-width: 20em;
}

.description-pane {
  -fx-background-color:-fx-background2;
}

.description-pane > .label {
	-fx-text-fill: -fx-text-inner-color;
}

.table-head {
	-fx-text-fill: black;
	-fx-fill: black;
	-fx-background-color: #80d6f7;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-padding: 5px
}
.table-head > .text{
	-fx-fill: black;
}
.table-data {
	-fx-text-fill: derive(-fx-text-base-color, -80%);
}
.table-head-toggle  {
	-fx-text-fill: highlight;
	-fx-fill: highlight;
	-fx-background-color: #dbdad0;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-padding: 1px;
}
.table-head-toggle:selected {
	-fx-background-color: primary;
	-fx-text-fill: -fx-base;
}
.table-head-toggle:focused{
	-fx-background-color: derive(#4CD7F6, +20%);
}
.table-head-toggle:hover  {
	-fx-background-color: derive(#dbdad0, -20%);
}

.hello {
	-fx-background-color: rgba(0,0,0, 0.5);
	-fx-pref-width: 30em;
}

.page #debug {
	-fx-background-image: url(Bestiarium.png);
}


.list-section .list-view {
	-fx-background-color: transparent;
}

.list-section .list-view .list-cell{
	-fx-background-color: transparent;
}
.list-section .list-view .list-cell:hover {
	-fx-background-color: -fx-hover-base;
}
.list-section .list-view .list-cell:selected {
    -fx-background-color: -fx-background;
}
.list-section .list-view .list-cell:selected:hover {
    -fx-background-color: -fx-faint-focus-color;
}


.detail-card {
  -fx-background-color:-fx-background2;
}

.optional-node .scroll-pane {
  -fx-background-color: transparent;
}


.todos {
   -fx-background-color: #ffffff;
	-fx-text-fill: black;
	-fx-padding: 1em;
	-fx-background-radius: 1em;
	-fx-border-radius: 1em;
	-fx-border-width: 5px;
    -fx-border-color: -fx-base;
}
.todos .label {
	-fx-text-fill: black;
}

.todos-stopper {
    -fx-border-color: red;
}
.todos-warning {
    -fx-border-color: orange;
}

.device-circle {
	-fx-stroke: highlight;
}

.hovered {
	-fx-fill: red;
}

.state-plus {
	-fx-text-fill: green;
}
.state-minus {
	-fx-text-fill: red;
}


.category-button {
	-fx-background-color: rgba(255,255,255, 0.4);
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: rgba(0,0,0, 0.1);
}
.button:hover {
	-fx-background-color: white;
}

#categories {
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-alignment: top-center;
}

#categories .button {
	-fx-min-width: 15em;
	-fx-pref-width: 20em;
}

/*******************************
 * Tables
 *******************************/
.table-category {
	-fx-background-color: derive(rgb(155, 209, 245), -25%);
  	-fx-text-fill: white;
  	-fx-font-weight: bold;
	-fx-padding: 0.2em;
}
.table .label {
	-fx-padding: 2px;
}

/* .odd { */
/* 	-fx-background-color: derive(light, -10%); */
/* 	-fx-padding: 3 8 3 8; */
/* } */

/* .even { */
/* 	-fx-background-color: transparent; */
/* 	-fx-padding: 3 8 3 8; */
/* } */

/* .gridsep { */
/* 	-fx-background-color: transparent; */
/* 	-fx-border-color: dark; */
/* 	-fx-border-width: 0 2 0 2; */
/* } */

#creatures {
	-fx-graphic: url(buttons/beastiary.png);
}
#creature-features {
	-fx-graphic: url(buttons/fairy_64.png);
}
#item-features {
	-fx-graphic: url(buttons/features_64.png);
}

#masterships {
	-fx-graphic: url(buttons/mastership_64.png);
}
#powers {
	-fx-graphic: url(buttons/power_64.png);
}
#species {
	-fx-graphic: url(buttons/species.png);
}
#spells {
	-fx-graphic: url(buttons/spells.png);
}

#wizard-culture-data {
	-fx-max-width: 12em;
}

.table-view {
	-fx-background-color: transparent;
}

.item-flag {
  -fx-background-color: derive(-fx-background2, -20%);
  -fx-text-fill: white;
  -fx-padding: 1px;
}